@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");
@import url("https://fonts.google.com/specimen/Lexend+Deca");

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.learn-more-button {
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 40px;
  padding: 20px 40px;
  font-size: 15px;
  margin: 15px 0 25px 0;
}

.cards-container {
  margin: 50px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-width: 370px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3em 0 3em 3em;
}
.cards p,
h2 {
  color: hsl(0, 0%, 95%);
}
.cards p {
  line-height: 1.6;
  font-family: "Laxen Deca";
  font-weight: 400;
  margin-right: 80px;
}
.cards:nth-child(1) {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.learn-more-button:nth-child(1){
  color: hsl(31, 77%, 52%);
}

.cards:nth-child(2) {
  background-color: hsl(184, 100%, 22%);
}
.learn-more-button:nth-child(2){
  color: hsl(184, 100%, 22%);
}
.cards:nth-child(3) {
  background-color: hsl(179, 100%, 13%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.learn-more-button:nth-child(3){
  color: hsl(179, 100%, 13%);
}
h2 {
  font-family: "Big Shoulders Display";
  font-weight: 700;
}
