@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap");
@import url("https://fonts.google.com/specimen/Lexend+Deca");

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  margin: 0;
  padding: 0;
  font-size: 15px;
}

h2 {
  font-family: "Big Shoulders Display";
  font-weight: 400;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button */
.learn-more-button {
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 15px;
  padding: 8px 20px;
  font-size: 15px;
}
.learn-more-button:nth-child(1) {
  color: hsl(31, 77%, 52%);
}
.learn-more-button:nth-child(2) {
  color: hsl(184, 100%, 22%);
}
.learn-more-button:nth-child(3) {
  color: hsl(179, 100%, 13%);
}

.cards-container {
  max-width: 750px;
  border-radius: 10px;
  display: flex;
}

/* cards */
.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 3em;
}
.cards:nth-child(1) {
  background-color: hsl(31, 77%, 52%);
}
.cards:nth-child(2) {
  background-color: hsl(184, 100%, 22%);
}
.cards:nth-child(3) {
  background-color: hsl(179, 100%, 13%);
}
.cards p,
h2 {
  color: hsl(0, 0%, 95%);
}
.cards p {
  line-height: 20px;
}

@media all and (max-width: 500px) {
  .cards-container {
    flex-direction: column;
    margin: 50px 20px;
  }
  .wrapper {
    height: 100%;
  }
}
